.industryLeaders {
	margin-top: 3.6rem;
	> p {
		font-size: 2.5rem;
		line-height: 3rem;

		color: #272727;
		margin: unset;
	}
	> div {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		>img {
			filter: grayscale(100%);
		}
	}
}
@media (max-width: 768px) {
	.industryLeaders {
		> p {
			font-weight: 600;
			font-size: 2.1rem;
			line-height: 2.5rem;
			max-width: 40rem;
			padding-left: 2.3rem;
		}
		> div {
			max-width: 42.7rem;
			margin: 0 auto;
			margin-top: 2.5rem;
		}
	}
}
