.feuturedProducts {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 2rem;
	flex-direction: column;
	> span {
		display: flex;
		justify-content: space-between;
		> p {
			font-weight: 600;
			font-size: 2.5rem;
			line-height: 3rem;
			margin: 0;

			color: #272727;
		}
		> div {
			margin-top: 1.7rem;
			display: flex;
			grid-gap: 1rem;
		}
	}
	> div {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		grid-gap: 1.8rem;

		> div {
			object-fit: contain;
			position: relative;
			width: max-content;
			> img {
				width: 100%;
			}
			> p {
				font-size: 1.5rem;
				line-height: 2.1rem;
				margin: 0;

				color: #232323;

				position: absolute;
				bottom: 4.4rem;
				left: 2.5rem;
			}
			> span {
				display: flex;
				align-items: center;
				justify-content: center;

				position: absolute;
				bottom: 2rem;
				left: 2.5rem;

				width: 11.4rem;
				height: 2.4rem;

				background: #23c2a8;
				border-radius: 0.3rem;

				font-size: 1.3rem;
				line-height: 1.8rem;

				color: #ffffff;
			}
			> div {
				width: calc(12.8rem - 3.6rem - 1.7rem);
				height: 2.4rem;

				background: #fd8516;
				border-radius: 0.3rem;

				display: flex;
				align-items: center;
				justify-content: space-between;

				position: absolute;
				right: 2.5rem;
				bottom: 2rem;

				padding-left: 3.6rem;
				padding-right: 1.7rem;

				cursor: pointer;
				> p {
					font-weight: 600;
					font-size: 1.3rem;
					line-height: 1.8rem;

					text-transform: uppercase;

					color: #ffffff;

					margin: 0;
					min-width: 7.2rem;
					margin-left: -1.7rem;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.feuturedProducts {
		> span {
			max-width: 76.8rem;
			margin: 0 auto;
			width: 100%;
			align-items: center;
			> p {
				margin-left: 2.3rem;
			}
			> div {
				margin-top: 0;
			}
		}
	}
}
@media (max-width: 600px) {
	.feuturedProducts {
		> div > div > img {
			max-width: 26rem;
			width: 100%;
			height: 100%;
			background-color: #efefef;
		}
	}
}
