@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import './components/components.scss';

body {
	margin: 0;
	font-family: Work Sans;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent;
}
